<%- include('includes/head.ejs') %>
    
</head>
<body>

    <%- include('includes/navigation.ejs') %>
    <%- include('includes/progressBar.ejs') %>

    
    <div class="formHeader">
        <p> Result</p>
        <hr>
        <h5>Please check the results.</h5>
        <img src="http://localhost:8080/images/Picture1.png" alt="Picture of resultBox">
        <%- result %>
    </div>
    

    
    

</body>




<%- include('includes/end.ejs') %>
