<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs') %>
            <%- include('includes/progressBar.ejs') %>


                <div class="formHeader">
                    <p> Upload Files</p>
                    <hr>
                </div>
                <form class="formContent" method="post" action="/postUploadResultPage">
                    
                    
                         
                    <%- pageData %>
                    

                    <div class="row" id = "multiClassControl" style="display: none"> 
                    
                        <label for="binarize">Binarize: </label>
                        <select  class="form-select" id="binarize" aria-label="Default select example" name="binarize">
                            <option value="no" selected>No</option>
                            <option value="yes">Yes</option>
                        </select>


                    </div>

                    <div class="row" id="posVal"  style="display:none">

                        <label for="posValue">Positive Label(comma separate for multiple positive labels):</label>
                        <input class="form-control" style="width:10rem" type="text" name="posVal">
                            
                    </div>
                    
                    
                    <div style="float:left">
                        <button  type="button" action="/" class="btn btn-primary btn-lg">Back</button>
                    </div>
                    <div style="float:right">
                        <a href="/graphEmbedding">
                            <button type="submit" class="btn btn-primary btn-lg">Next</button>
                        </a>
                    </div>
                    
                </form>

                
                <script>
                    $(document).ready(function(){

                        if(parseInt("<%=numOfClass%>") > 2 ){
                            $("#multiClassControl").show();
                        }


                        $("#binarize").change(function(){
                            let selectedVal = $("#binarize option:selected").text();
                            if(selectedVal == "Yes"){
                                $("#posVal").show();
                            }
                            else{
                                $("#posVal").hide();
                            }
                        })
                    });

                </script>


    
    </body>




    <%- include('includes/end.ejs') %>